body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    padding: 15px 30px
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}

form button {
    background-color: lime;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    width: 100%;
}